.tax {
  text-align: center;
  margin:5% auto;
  font-family: 'Nunito', sans-serif;
}

#country-input{
  font-family:'Inconsolata', monospace;
  display:flex;
  justify-content:center;
  margin-bottom:10px;
}

#salary-input{
  font-family:'Inconsolata', monospace;  
  display:flex;
  justify-content:center;
  margin-bottom:10px;
}

button{
  background-color:wheat;
  padding:5px;
  font-weight:bold;
  font-family: 'Nunito', sans-serif;
  font-size:20px;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}

button:hover{
  background-color:tan;
}
